.tag {
  display: inline-block;
  padding: 0.125rem 0.75rem;
  border-radius: 15px;
}

.frame-one {
  background: #7301A8;
  color: #FFFFFF;
}

.frame-two {
  background: #ED9753;
  color: #FFFFFF;
}

.frame-three {
  background: #FDC926;
  color: #000000;
}
